<h2>Password Reset Request</h2>
<p>To reset your password, click the link below. This link is valid for 60 minutes.</p>
<p><a href="{{ resetUrl }}">Reset your password</a></p>
<p>If you did not request a password reset, you can safely ignore this email.</p>
