{% extends 'base.html.twig' %}
{% block title %}Email Verified{% endblock %}
{% block body %}
    <h1>Email Verified!</h1>
    <p>Hello, user {{ app.user.email }}</p>
    <p>Your email has been successfully verified.</p>
{% endblock %}
