{% extends 'base.html.twig' %}
{% block title %}Accounts{% endblock %}
{% block body %}
    <h1>Accounts Page</h1>
    <p>Welcome to your accounts page. (This is placeholder content.)</p>
{% endblock %}
